###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Final Game 2.0/.vs/Final Game 2.0/v16/Server/sqlite3/db.lock
FMP Game Files.zip
Final Game 2.0.zip
FMP Game Files/FMP 2.0 Game Files.zip.001
FMP Game Files/FMP 2.0 Game Files.zip.002
FMP Game Files/FMP 2.0 Game Files.zip.003
